<div class="container_big_card">
    <a href="">
        <div class="big_card_photo">
            <img src="https://img.freepik.com/vetores-gratis/ilustracao-de-galeria-icone_53876-27002.jpg" alt="" srcset="">
        </div>
        <div class="big_card_title">
            <h1>Saiu a nova versão do Angular</h1>
        </div>
        <div class="big_card_description">
            <p>Houve uma nova atualização do Angular, a chamada versão 15.6.0 saiu esta semana</p>
        </div>
    </a>
</div>